@import "../card/card.css";
@import "../tasks/tasks.css";
@import "../messages/messages.css";
@import "../activity/activity.css";

.information {
    &__list {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item {
        width: calc(100%/3);
        margin-right: 43px;
        box-sizing: border-box;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 21px 29px 21px 35px;
    }

    &__item-title {
        font-size: 24px;
        font-weight: 500;
        color: #0e1a35;
    }
}
