nav(class="nav-authorization")
    ul(class="nav-authorization__list")
        li(class="nav-authorization__item")
            a(href="#5" class="nav-authorization__link") Register
        li(class="nav-authorization__item nav-authorization__item--active")
            a(href="#5" class="nav-authorization__link") Login
