@import "../vars-media/vars-media.css";

.box {
    width: calc(100% - 318px);
    margin: 0 auto;

    @if $mobileFirst {
        width: 100%;
        min-width: 320px;
        max-width: 480px;

        @media (--S) {
            width: 540px;
            max-width: none;
        }

        @media (--M) {
            width: 720px;
        }

        @media (--L) {
            width: 960px;
        }

        @media (--XL) {
            width: 1140px;
        }

        @media (--XXL) {
            width: 1400px;
        }
    }

    @else {
        width: calc(100% - 318px);

        /* @media (--XXL) {
            width: 1400px;
        } */

        @media (--L) {
            width: 960px;
        }

        @media (--M) {
            width: 720px;
        }

        @media (--S) {
            width: 540px;
        }

        @media (--XS) {
            width: 100%;
            min-width: 320px;
            max-width: 480px;
        }
    }
}
