header(class="header")
    div(class="header__content")
        include ../../_blocks/logo/logo.pug

        div(class="header__nav")
            include ../../_blocks/nav-site/nav-site.pug
            include ../../_blocks/nav-user/nav-user.pug
