div(class="authorization")
    h1(class="authorization__title") Welcome <span class="authorization__title-color">back!</span>
    form(class="authorization__form" action="#5" method="post")
        div(class="authorization__field authorization__field--name")
            input(type="text" class="authorization__field-text" placeholder="Username")
        div(class="authorization__field authorization__field--password")
            input(type="password" class="authorization__field-text" placeholder="Password")
        a(href="#5" class="button button--text button--background button--ellipse authorization__button") Enter
            img(class="authorization__button-img" src="images/small-img/arrow.png" alt="Arrow")
