div(class="pagination")
    ul(class="pagination__list")
        li(class="pagination__item")
            a(href="#5" class="pagination__link pagination__link--active") 1
        li(class="pagination__item")
            a(href="#5" class="pagination__link") 2
        li(class="pagination__item")
            a(href="#5" class="pagination__link") 3
        li(class="pagination__item")
            a(href="#5" class="pagination__link") 4
        li(class="pagination__item")
            a(href="#5" class="pagination__link") 5
        li(class="pagination__item-next")
            a(href="#5" class="pagination__link-next")
                svg(class="pagination__link-next")
                    use(xlink:href="images/svg-sprite/svg-sprite.svg#arrow-next")
