<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>Admin panel</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;amp;subset=cyrillic" rel="stylesheet">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="stylesheets/common.css">
</head>

<body>
    <header class="header">
        <div class="header__content">
            <div class="logo"><a class="logo__link" href="home.html"><svg class="logo__img">
                        <use xlink:href="images/svg-sprite/svg-sprite.svg#logo"></use>
                    </svg></a></div>
            <div class="header__nav">
                <nav class="nav-site">
                    <ul class="nav-site__list">
                        <li class="nav-site__item nav-site__item--menu"><button class="button nav-site__button-arrow" type="button"><svg class="nav-site__arrow-img">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#header-arrow"></use>
                                </svg></button><button class="button nav-site__button-menu" type="button"><img class="nav-site__button-img" src="images/small-img/burger.svg" alt="Menu"></button></li>
                        <li class="nav-site__item nav-site__item--search">
                            <form class="nav-site__form"><button class="button nav-site__button-search" type="button"><img class="nav-site__button-img" src="images/small-img/search.svg" alt="Search"></button><input class="nav-site__field-search" type="text"></form>
                        </li>
                    </ul>
                    <div class="nav-site__menu">
                        <ul class="nav-site__menu-list">
                            <li class="nav-site__menu-item"><a class="nav-site__menu-link" href="#5">Home</a></li>
                            <li class="nav-site__menu-item"><a class="nav-site__menu-link" href="#5">Home</a></li>
                            <li class="nav-site__menu-item"><a class="nav-site__menu-link" href="#5">Home</a></li>
                        </ul>
                    </div>
                </nav>
                <nav class="nav-user">
                    <ul class="nav-user__list">
                        <li class="nav-user__item nav-user__item--add-project"><button class="button button--text button--background button--ellipse button--size-less nav-user__button" type="button">Add project<img class="nav-user__button-img" src="images/small-img/plus.png" alt="Add"></button></li>
                        <li class="nav-user__item nav-user__item--messages"><a class="nav-user__messages-link" href="#5"><img class="nav-user__messages-img" src="images/small-img/messages.svg" alt="Messages"></a></li>
                        <li class="nav-user__item nav-user__item--notifications"><span class="nav-user__quality">3</span><button class="button nav-user__notifications-button"><img class="nav-user__notifications-img" src="images/small-img/notifications.svg" alt="Notifications"></button></li>
                        <li class="nav-user__item nav-user__item--profile"><a class="nav-user__profile-link" href="#5"><img class="nav-user__profile-photo" src="images/user/profile.jpg" alt="User"></a><button class="nav-user__button-arrow" type="button"><svg class="nav-user__arrow-img">
                                    <use xlink:href="images/svg-sprite/svg-sprite.svg#profile-arrow"></use>
                                </svg></button></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <nav class="nav-panel">
            <ul class="nav-panel__list">
                <li class="nav-panel__item nav-panel__item--active"><img class="nav-panel__icon" src="images/small-img/home.svg" alt="Icon nav panel"><a class="nav-panel__link" href="home.html">Home</a></li>
                <li class="nav-panel__item"><img class="nav-panel__icon" src="images/small-img/workflow.svg" alt="Icon nav panel"><a class="nav-panel__link" href="workflow.html">Workflow</a></li>
                <li class="nav-panel__item"><img class="nav-panel__icon" src="images/small-img/statistics.svg" alt="Icon nav panel"><a class="nav-panel__link" href="statistics.html">Statistics</a></li>
                <li class="nav-panel__item"><img class="nav-panel__icon" src="images/small-img/calendar.svg" alt="Icon nav panel"><a class="nav-panel__link" href="calendar.html">Calendar</a></li>
                <li class="nav-panel__item"><img class="nav-panel__icon" src="images/small-img/users.svg" alt="Icon nav panel"><a class="nav-panel__link" href="users.html">Users</a></li>
                <li class="nav-panel__item"><img class="nav-panel__icon" src="images/small-img/settings.svg" alt="Icon nav panel"><a class="nav-panel__link" href="#5.html">Settings</a></li>
            </ul>
        </nav>
        <div class="box content">
            <h1 class="content__title">Hello John!</h1>
            <div class="graphics">
                <div class="card graphic-sales" id="graphic-sales"></div>
                <div class="card graphic-report" id="graphic-report"></div>
            </div>
            <div class="information">
                <ul class="information__list">
                    <li class="information__item">
                        <section class="tasks card">
                            <header class="information__item-header tasks__header">
                                <h3 class="tasks__title information__item-title">Tasks</h3>
                                <div class="tasks__quality"><span class="badge">5</span><span class="badge badge--delay">2</span></div>
                            </header>
                            <div class="tasks__list">
                                <div class="tasks-item">
                                    <div class="badge badge--profile tasks-item__profile"><span class="tasks-tem__text">N</span></div>
                                    <div class="tasks-item__description">
                                        <h4 class="tasks-item__title">New website for Symu.co</h4>
                                        <p class="tasks-item__block-time"><img class="tasks-item__img-time" src="images/small-img/time-delay.png" alt="Time"><time class="tasks-item__time tasks-item__time--delay" datetime="2010-10-10">5 days delays</time></p>
                                    </div>
                                    <div class="tasks-item__actions"><button class="button tasks-item__button" type="button"><img class="task-item__img-options" src="images/small-img/options.png" alt="Options"></button></div>
                                </div>
                                <div class="tasks-item">
                                    <div class="badge badge--profile tasks-item__profile"><span class="tasks-tem__text">F</span></div>
                                    <div class="tasks-item__description">
                                        <h4 class="tasks-item__title">Free business PSD Template</h4>
                                        <p class="tasks-item__block-time"><img class="tasks-item__img-time" src="images/small-img/time-delay.png" alt="Time"><time class="tasks-item__time tasks-item__time--delay" datetime="2010-10-10">2 days delays</time></p>
                                    </div>
                                    <div class="tasks-item__actions"><button class="button tasks-item__button" type="button"><img class="task-item__img-options" src="images/small-img/options.png" alt="Options"></button></div>
                                </div>
                                <div class="tasks-item">
                                    <div class="badge badge--profile tasks-item__profile"><span class="tasks-tem__text">N</span></div>
                                    <div class="tasks-item__description">
                                        <h4 class="tasks-item__title">New logo for JCD.pl</h4>
                                        <p class="tasks-item__block-time"><img class="tasks-item__img-time" src="images/small-img/time.png" alt="Time"><time class="tasks-item__time" datetime="2010-10-10">5 days left</time></p>
                                    </div>
                                    <div class="tasks-item__actions"><button class="button tasks-item__button" type="button"><img class="task-item__img-options" src="images/small-img/options.png" alt="Options"></button></div>
                                </div>
                                <div class="tasks-item">
                                    <div class="badge badge--profile tasks-item__profile"><span class="tasks-tem__text">F</span></div>
                                    <div class="tasks-item__description">
                                        <h4 class="tasks-item__title">Free Icons Set vol. 3</h4>
                                        <p class="tasks-item__block-time"><img class="tasks-item__img-time" src="images/small-img/time.png" alt="Time"><time class="tasks-item__time" datetime="2010-10-10">10 days left</time></p>
                                    </div>
                                    <div class="tasks-item__actions"><button class="button tasks-item__button" type="button"><img class="task-item__img-options" src="images/small-img/options.png" alt="Options"></button></div>
                                </div>
                            </div>
                        </section>
                    </li>
                    <li class="information__item">
                        <section class="messages card">
                            <header class="information__item-header messages__header">
                                <h3 class="information__item-title messages__title">Messages</h3><span class="badge">2</span>
                            </header>
                            <div class="tasks__list">
                                <div class="message message--unread">
                                    <div class="message__profile"><img class="message__profile-photo" src="images/user/photo-1.jpg" alt="User"></div>
                                    <div class="message__text-block">
                                        <div class="message__header">
                                            <p class="message__name-user">Nina Jones</p><time class="message__time" datetime="2010-10-10">5 minutes ago </time>
                                        </div>
                                        <div class="message__body">
                                            <p class="message__text">Hey You! It’s me again :-) I attached new (...)</p>
                                        </div>
                                        <div class="message__actions"><button class="button message__button message__button--share" type="button"><img class="message__img-options" src="images/small-img/share.png" alt="Share"></button><button class="button message__button message__button--share" type="button"><img class="message__img-settings" src="images/small-img/settings.png" alt="Settings"></button></div>
                                    </div>
                                </div>
                                <div class="message message--unread">
                                    <div class="message__profile"><img class="message__profile-photo" src="images/user/photo-1.jpg" alt="User"></div>
                                    <div class="message__text-block">
                                        <div class="message__header">
                                            <p class="message__name-user">Nina Jones</p><time class="message__time" datetime="2010-10-10">About 20 hours ago </time>
                                        </div>
                                        <div class="message__body">
                                            <p class="message__text">Hey! I attached some new PSD files for (...)</p>
                                        </div>
                                        <div class="message__actions"><button class="button message__button message__button--share" type="button"><img class="message__img-options" src="images/small-img/share.png" alt="Share"></button><button class="button message__button message__button--share" type="button"><img class="message__img-settings" src="images/small-img/settings.png" alt="Settings"></button></div>
                                    </div>
                                </div>
                                <div class="message">
                                    <div class="message__profile"><img class="message__profile-photo" src="images/user/photo-2.jpg" alt="User"></div>
                                    <div class="message__text-block">
                                        <div class="message__header">
                                            <p class="message__name-user">James Smith</p><time class="message__time" datetime="2010-10-10">2 days ago </time>
                                        </div>
                                        <div class="message__body">
                                            <p class="message__text">Good morning, you are fired!</p>
                                        </div>
                                        <div class="message__actions"><button class="button message__button message__button--share" type="button"><img class="message__img-options" src="images/small-img/share.png" alt="Share"></button><button class="button message__button message__button--share" type="button"><img class="message__img-settings" src="images/small-img/settings.png" alt="Settings"></button></div>
                                    </div>
                                </div>
                                <div class="message">
                                    <div class="message__profile"><img class="message__profile-photo" src="images/user/photo-1.jpg" alt="User"></div>
                                    <div class="message__text-block">
                                        <div class="message__header">
                                            <p class="message__name-user">Nina Jones</p><time class="message__time" datetime="2010-10-10">About 2 weeks ago </time>
                                        </div>
                                        <div class="message__body">
                                            <p class="message__text">Hello! Could You bring me coffee please?</p>
                                        </div>
                                        <div class="message__actions"><button class="button message__button message__button--share" type="button"><img class="message__img-options" src="images/small-img/share.png" alt="Share"></button><button class="button message__button message__button--share" type="button"><img class="message__img-settings" src="images/small-img/settings.png" alt="Settings"></button></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </li>
                    <li class="information__item">
                        <section class="activity card">
                            <header class="information__item-header activity__header">
                                <h3 class="information__item-title activity__title">Activity</h3><span class="badge">10</span>
                            </header>
                            <div class="activity__list">
                                <div class="activity-item">
                                    <div class="activity-item__profile"><img class="activity-item__profile-photo" src="images/user/photo-1.jpg" alt="User"></div>
                                    <div class="activity-item__text-block">
                                        <div class="activity-item__header">
                                            <p class="activity-item__name-user">Nina Jones</p>
                                            <p class="activity-item__text">added a new project</p>
                                            <p class="activity-item__title">Free UI Kit</p>
                                        </div>
                                        <div class="activity-item__body"><img class="activity-item__img-time" src="images/small-img/time.png" alt="Time"><time class="activity-item__time" datetime="2010-10-10">Just now</time></div>
                                    </div>
                                </div>
                                <div class="activity-item">
                                    <div class="activity-item__profile"><img class="activity-item__profile-photo" src="images/user/photo-2.jpg" alt="User"></div>
                                    <div class="activity-item__text-block">
                                        <div class="activity-item__header">
                                            <p class="activity-item__name-user">James Smith</p>
                                            <p class="activity-item__text">commented project</p>
                                            <p class="activity-item__title">Free PSD Template</p>
                                        </div>
                                        <div class="activity-item__body"><img class="activity-item__img-time" src="images/small-img/time.png" alt="Time"><time class="activity-item__time" datetime="2010-10-10">40 minutes ago</time></div>
                                    </div>
                                </div>
                                <div class="activity-item">
                                    <div class="activity-item__profile"><img class="activity-item__profile-photo" src="images/user/photo-3.jpg" alt="User"></div>
                                    <div class="activity-item__text-block">
                                        <div class="activity-item__header">
                                            <p class="activity-item__name-user">Alex Clooney</p>
                                            <p class="activity-item__text">completed task</p>
                                            <p class="activity-item__title">Symu Website</p>
                                        </div>
                                        <div class="activity-item__body"><img class="activity-item__img-time" src="images/small-img/time.png" alt="Time"><time class="activity-item__time" datetime="2010-10-10">1 hour ago</time></div>
                                    </div>
                                </div>
                                <div class="activity-item">
                                    <div class="activity-item__profile"><img class="activity-item__profile-photo" src="images/user/photo-4.jpg" alt="User"></div>
                                    <div class="activity-item__text-block">
                                        <div class="activity-item__header">
                                            <p class="activity-item__name-user">Alexandra Spears</p>
                                            <p class="activity-item__text">added a new project</p>
                                            <p class="activity-item__title">Free PSD (...)</p>
                                        </div>
                                        <div class="activity-item__body"><img class="activity-item__img-time" src="images/small-img/time.png" alt="Time"><time class="activity-item__time" datetime="2010-10-10">3 hours ago</time></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <script src="scripts/common.js"></script>
</body>

</html>
