nav(class="nav-site")
    ul(class="nav-site__list")
        li(class="nav-site__item nav-site__item--menu")
            button(class="button nav-site__button-arrow" type="button")
                svg(class="nav-site__arrow-img")
                    use(xlink:href="images/svg-sprite/svg-sprite.svg#header-arrow")
            button(class="button nav-site__button-menu" type="button")
                img(class="nav-site__button-img" src="images/small-img/burger.svg" alt="Menu")
        li(class="nav-site__item nav-site__item--search")
            form(class="nav-site__form")
                button(class="button nav-site__button-search" type="button")
                    img(class="nav-site__button-img" src="images/small-img/search.svg" alt="Search")
                input(class="nav-site__field-search" type="text")
    div(class="nav-site__menu")
        ul(class="nav-site__menu-list")
            li(class="nav-site__menu-item")
                a(href="#5" class="nav-site__menu-link") Home
            li(class="nav-site__menu-item")
                a(href="#5" class="nav-site__menu-link") Home
            li(class="nav-site__menu-item")
                a(href="#5" class="nav-site__menu-link") Home
