header(class="header-authorization box-authorization")
    div(class="header-authorization__content")
        div(class="header-authorization__actions")

            include ../../_blocks/logo-authorization/logo-authorization.pug

            button(class="button-menu button-menu--opened" type="button")
                span(class="button-menu__img")

        include ../../_blocks/nav-authorization/nav-authorization.pug
