@import "../logo-authorization/logo-authorization.css";
@import "../nav-authorization/nav-authorization.css";
@import "../button-menu/button-menu.css";

.header-authorization {
    background-color: #0e1a35;

    @media(--XS) {
        margin-top: 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 37px 59px 41px 45px;

        @media(--S) {
            flex-direction: column;
            padding: 35px;
        }

        @media(--XS) {
            padding: 35px 20px;
        }
    }

    &__actions {
        @media(--S) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
