.button {
    border: none;
    padding: 0;
    background: none;
    outline: none;
    text-decoration: none;

    &--text {
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
    }

    &--background {
        background-color: #5584ff;
    }

    &--ellipse {
        border-radius: 36px;
    }

    &--size-less {
        font-size: 18px;
    }

    &--circle {
        border-radius: 50%;
    }
}
